<div class="notes">
  <% @notes.each do |note|%>
    <div class="note">
      <div class="note-name">
        <p class="name-title">
          Title:
        </p>
        <%= link_to " #{note.title}", edit_note_path(note.id) %>
        <% note.tags.each do |tag| %>
          <div class="tag-name">
            <%= "# #{tag.name}" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>