<div class="notes">
  <% @notes.each do |note|%>
    <div class="note">
      <div class="note-name">
        <div class="name-title">
          タイトル:
        </div>
        <%= link_to " #{note.title}", edit_note_path(note.id) %>
      </div>
      <% note.tags.each do |tag| %>
        <div class="tag-name">
          <%= "# #{tag.name}" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>