<div class="wrapper">
  <div class="side_bar">
    <%= render "side_bar" %>
  </div>
  <div class="main">
    <%= form_with model: @note_tag, url: "/notes/#{@note.id}", method: :put, class:'form-wrap', local: true do |f| %>
      <%= render "main", f:f %>
    <% end %>
  </div>
</div>

<div>
  <%= link_to '削除', "/notes/#{@note.id}", method: :delete %>
</div>





