<div class=''>
</div>

<div class='wrapper'>
  <div class='explanation'>
    <div class='explanation-top'>
      About Hash
    </div>
    <div class='explanation-bottom'>
      情報を整理しあなたのライフを充実させましょう。<br>
      あなたのノウハウを必要としている人がいます。<br>
      共有しましょう。<br>
    </div>    
  </div>
  <div class='how-to-use'>
    <div class='use'>
      ①ログインしてノートを作ろう
    </div>
    <div class='use'>
      ②タグをつけて整理しよう<br>
      タグはいくつでも作れます
    </div>
    <div class='use'>
      ③ノートをみんなに共有しよう<br>
      公開も非公開もあなた次第です
    </div>
  </div>
</div>