* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 15vh;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
}

.top-link {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

.header-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publish-link {
  font-size: 40px;
  font-family: sans-serif;
  color: black;
}

.publish-comment {
  font-size: 15px;
  font-family: sans-serif;
  color: black;
}

.header-right {
  height: 15vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.header-right-content {
  height: calc(100% / 3);
  padding: 2px;
  margin-bottom: 3px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}

.header-right-content a {
  font-size: 15px;
  font-family: sans-serif;
  color: black;
}