<div class="wrapper">
  <div class="side_bar">
    <div class="side-bar-header only-create">
      <div class="note-link">
        <%= link_to "ノートを作成する", new_note_path %>
      </div>
    </div>
    <%= render "notes/side_bar" %>
  </div>
  <div class="main">
    <%= render "notes/search_user_form"%>
  </div>
</div>