<%= link_to '新規ノート', new_note_path %>
<div>
  <div>
    <% @notes.each do |note|%>
      <div>
        <p>
          <%= link_to note.title, note_path(note.id) %>
        </p>
      </div>
    <%end%>
  </div>
</div>