.index-wrapper {
  width: 100vw;
  height: 85vh;
  padding: 20px 0;
  text-align: center;
  background: radial-gradient(
    circle 400px at center,
    #57f6fe 0%,
    #89e1f7 50%,
    #70bff8 100%
  );
  overflow: scroll;
}

.explanation {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation-top {
  width: 100%;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.explanation-middle {
  width: 100%;
  font-size: 25px;
  margin-bottom: 10px;
  color: #919191;
}

.explanation-bottom {
  width: 100%;
  font-size: 25px;
  font-family: sans-serif;
}

.how-to-use {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.use {
  width: calc((100% - 40px) / 3);
  height: 400px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 9px;
}

.use-sentence{
  width: 100%;
  height: 20%;
  font-size: 20px;
  font-family: sans-serif;
}

.use-image {
  width: 100%;
  height: 80%;
  border: 1px solid;
}


/* 668px〜1024px*/
@media (max-width: 1024px) {
  .how-to-use {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .use {
    width: calc((100% - 40px) / 2);
    margin-bottom: 30px;
  }
}

/* 415px〜667px*/
@media (max-width: 667px) {
  .use-sentence{
    font-size: 15px;
  }
}

/* 361〜414px*/
@media (max-width: 414px) {
  .explanation {
    margin: 10px;
    padding: 0 10px;
  }

  .explanation-top {
    font-size: 33px;
  }
  
  .explanation-middle {
    font-size: 15px;
  }
  
  .explanation-bottom {
    font-size: 15px;
  }
  
  .how-to-use {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .use {
    width: 90%;
    height: 280px;
    margin-bottom: 20px;
  }
}

/* 〜360px*/
@media (max-width: 360px) {
  .use-sentence{
    font-size: 13px;
  }
}


/*height ~540px*/
@media (max-height: 540px) {
  .index-wrapper {
    height: 75vh;
  }
}