.index-wrapper {
  width: 100vw;
  height: 85vh;
  padding: 20px 0;
  text-align: center;
  background: radial-gradient(
    circle 400px at center,
    #57f6fe 0%,
    #89e1f7 50%,
    #70bff8 100%
  );
}

.explanation {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation-top {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.explanation-middle {
  font-size: 25px;
  margin-bottom: 10px;
  color: #919191;
}

.explanation-bottom {
  font-size: 25px;
  font-family: sans-serif;
}

.how-to-use {
  width: 100%;
  height: 55%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.use {
  width: calc((100% - 40px) / 3);
  font-size: 20px;
  font-family: sans-serif;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 9px;
}