/* 検索フォーム */
/* notes/ publish, search_title, search_text, search_user_title, search_user_text, search_user_tag */
/* tags/ show, search */
/* users/ show */

.search-wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-forms {
  margin-bottom: 5px;
}

.search-form {
  font-size: 20px;
  font-family: sans-serif;
}

.search-input {
  width: 300px;
  padding: 0 10px;
  margin-right: 10px;
}

.search-btn {
  width: 80px;
}

/* 検索結果 */
/* notes/ search_title, search_text, search_user_title, search_user_text, search_user_tag */
/* tags/ search */

.keyword {
  padding: 5px;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #c9ff04;
  border-radius: 9px;
  display: table;
}

.keyword a {
  display: block;
  color: #006eff;
}


/* 公開ノートタグ検索結果 */
/* tags/search */

.search-tag {
  display: table;
  padding: 5px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 9px;
  text-align: center;
}

.search-tag a {
  font-size: 20px;
  font-family: sans-serif;
  color:#006eff;
}

/* ユーザーノート検索結果 */
/* notes/ _search_user_result */
/* notes/ search_user_title, search_user_text, search_user_tag */

.search-results {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-result {
  width: 80%;
  height: 200px;
  padding: 10px;
  margin-bottom:50px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #ffffff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}

.result-top {
  height: 30%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-titles {
  display: flex;
}

.title {
  margin-right: 20px;
  font-size: 25px;
}

.right {
  font-weight: bold;
  color:#006eff; 
}

.result-tags {
  color: #919191;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
}

.result-tag {
  margin-left: 10px;
}

.result-text {
  height: 70%;
  overflow: hidden;
  word-break: keep-all;
}

/* ユーザーノート検索結果 */
/* notes/search_user_tag */

.search-tag-results {
  width: 100%;
  margin: 20px 0;
}

.search-tag-result {
  margin: 50px 0;
}

.result-top {
  display: flex;
  flex-direction: column;
}

.search-user-tag {
  padding: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #c9ff04;
  border-radius: 9px;
  display: table;
}

.result-tag-note {
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #ffffff;
  border-radius: 9px;
}

.note-user-top {
  height: 30%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.note-user-title {
  font-size: 25px;
  display: flex;
}

.note-user-text {
  height: 70%;
  overflow: hidden;
}


/* 375〜414px*/
@media (max-width: 414px) {
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-result {
    width: 100%;
    font-size: 17px;
  }

  .title {
    font-size: 22px;
  }

  .result-tags {
    font-size: 16px;
  }
}


/* 361〜375px*/
@media (max-width: 375px) {
  .search-input {
    width: 200px;
  }
  
  .search-result {
    width: 100%;
    font-size: 15px;
  }

  .title {
    font-size: 16px;
  }

  .result-tags {
    font-size: 15px;
  }

  .search-user-tag {
    font-size: 15px;
    text-align: start;
  }
  
  .note-user-text {
    font-size: 16px;
  }
}


/* 280〜360px*/
@media (max-width: 360px) {
  .search-input {
    width: 250px;
  }
  
  .search-result {
    width: 100%;
    font-size: 15px;
  }

  .title {
    font-size: 19px;
  }

  .result-tags {
    font-size: 14px;
  }
}


/* 〜280px*/
@media (max-width: 280px) {
  .search-form {
    font-size: 15px;
  }

  .search-input {
    width: 170px;
  }

  .search-btn {
    width: 70px;
  }

  .keyword {
    font-size: 15px;
  }

  .content-title a {
    font-size: 20px;
  }
}

