/* 検索フォーム */
/* notes/ publish, search_title, search_text, search_user_title, search_user_text, search_user_tag */
/* tags/ show, search */
/* users/ show */

.search-wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-forms {
  margin-bottom: 5px;
}

.search-form {
  font-size: 20px;
  font-family: sans-serif;
}

.search-input {
  width: 300px;
  padding: 0 10px;
  margin-right: 10px;
}

.search-btn {
  width: 80px;
}

/* 検索結果 */
/* notes/ search_title, search_text, search_user_title, search_user_text, search_user_tag */
/* tags/ search */

.keyword {
  padding: 5px;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #c9ff04;
  border-radius: 9px;
  display: table;
}

.keyword a {
  display: block;
  color: #006eff;
}

.search-tag {
  width: calc((100% - 40px) / 5);
  height: 40px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 9px;
  text-align: center;
}

.search-tag a {
  font-size: 20px;
  font-family: sans-serif;
  color:#006eff;
}

/* ユーザーノート検索結果 */
/* notes/ _search_user_result */
/* notes/ search_user_title, search_user_text, search_user_tag */

.search-results {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-result {
  width: 70%;
  height: 50%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #ffffff;
  border-radius: 9px;
  overflow: hidden;
}

.result-top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.result-titles {
  font-size: 25px;
  margin-right: 20px;
  display: flex;
}

.title {
  font-weight: bold;
}

.left {
  margin-right: 7px;
}

.right {
  color:#006eff; 
}

.result-tags {
  color: #919191;
  display: flex;
}

.result-tag {
  margin-left: 10px;
}

.result-text {
  word-break: keep-all;
}

/* ユーザーノート検索結果 */
/* notes/search_user_tag */

.search-tag-results {
  width: 100%;
  margin: 20px 0;
}

.search-tag-result {
  margin: 50px 0;
}

.search-user-tag {
  padding: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #c9ff04;
  border-radius: 9px;
  display: table;
}

.result-tag-note {
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #ffffff;
  border-radius: 9px;
}

.note-user-top {
  height: 30%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.note-user-title {
  font-size: 25px;
  margin-right: 20px;
  display: flex;
}

.note-user-text {
  height: 70%;
  overflow: hidden;
}
