/* ノート詳細画面 */
/* notes/show */

.show-wrapper {
  width: calc(100% - 200px);
  height: 85vh;
  padding: 30px 50px 10px;
}

.show-contents {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid black;
  background-color: #ffffff;
}

.show-title {
  height: 15%;
  padding: 5px;
  font-size: 33px;
  font-weight: bold;
  line-height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
}

.show-tags {
  height: 10%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.show-tag {
  font-size: 20px;
  color: darkgrey;
  display: table;
}

.show-text {
  height: 65%;
  font-size: 20px;
  padding: 5px;
  overflow: scroll;
}

.show-user {
  height: 10%;
  padding: 5px;
  font-size: 20px;
  color: #999;
  text-align: right;
}


/* 281〜896px*/
@media (max-width: 896px) {
  .show-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

/* 〜280px*/
@media (max-width: 280px) {
  .show-title {
    font-size: 27px;
  }
}