/* ユーザー画面共通部分 */
/* notes/_side_bar  */
/* notes/new, edit、 search_user_title, search_user_text, search_user_tag */

.side_bar {
  width: 200px;
  height: 85vh;
  background: linear-gradient(
    to top,
   #ffffff 0%, 
   #b7fdff 100%
  );
}

.side-bar-header {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.only-create {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-link {
  width: 45%;
  height: 60%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
  text-align: center;
}

.note-link a{
  font-size: 15px;
  color: black;
}

.notes {
  height: calc(85vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.note {
  padding: 5px;
  margin: 20px 0;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.8);
}

.note-name {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.name-title {
  font-size: 14px;
  font-weight: bold;
}

.note-name a {
  font-size: 18px;
  font-weight: bold;
  color: #006eff;
}

.tag-name {
  font-size: 16px;
  color: #919191;
}

.note-user {
 margin-top: 10px;
 text-align: right;
}



/* 〜896px*/
@media (max-width: 896px) {
  .side_bar {
    width: 100%;
    height: 100%;
  }
  
  .side-bar-header {
    height: 150px;
  }

  .note-link a{
    font-size: 18px;
  }

  .notes {
    height: 100%;
  }

}
